#div1{
    width: 50px;
    border: 1px solid black;
    height: 20px;
    overflow: hidden;
    text-wrap-mode: nowrap;
    color: green;
    transition: width 2s ease-in ,
                color 3s ease-in;    
}


#div1:hover{
    width: 250px; 
    color: blue;
}

#div3
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#div2
{
    width: 250px;
    height: 500px;
    border: 1px solid black;
    transition: transform 2s linear;
}

#div2:hover{
    transform: rotatey(900deg);
}